<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
<link rel="stylesheet" href="{{asset('build/css/carte.fe31f41a.css')}}">

</head>

<body>
    
  <nav class="navbar  bg-primary fixed-top  m-0 py-0" >
     <ul class="navbar-nav    text-primary ">
                    <li class="nav-item text-center">
                        <a  href="javascript:history.back()"><img src="{{asset('build/images/retour-blanc.png')}}"></a>
                    </li>
    </ul> 
    <ul class="navbar-nav mx-auto  text-primary ">
                    <li class="nav-item text-center">
                        <a class="nav-link    bg-primary  text-secondary" href="/connexion">SAUCE MOUTARD</a>
                    </li>
    </ul> 
 
     
  </nav>
    <br>
     <br>
    
    <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block my-4 mx-auto" src="{{asset('build/images/nmdp.png')}}"  width="300" height="300" ></div>
      </div>
    </div>
  </div>

        
<nav class="navbar navbar-expand ">
    <div class="collapse navbar-collapse fixed-bottom " id="navbarSupportedContent">
        
            <div class="container">
		<div class="row">
        	<div class="text-right col-3 p-0"><img src="{{asset('build/images/bordg.png')}}"></div>
        	<div class="bg-primary text-center col-2" >
         		 
           	</div> 
          	<div class="bg-primary text-center col-2" >
          		<a  href="/connexion"><img src="{{asset('build/images/logocentre.png')}}"></a>
        		</div> 
        	<div class="bg-primary text-center col-2" >
          		 
  	 		</div> 
                        <div class="text-left col-3 p-0"><img src="{{asset('build/images/bordd.png')}}"></div>
         	</div>
      	</div>
      
  	</div>
</nav>
    	

</body>

</html> 
{# empty Twig template #}
