<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{{asset('build/css/liste.afc1fc18.css')}}">
  
</head>

<body>
     
 <nav class="navbar  bg-primary   m-0 py-0" >
     <ul class="navbar-nav    text-primary ">
                    <li class="nav-item text-center">
                        <a  href="javascript:history.back()"><img src="{{asset('build/images/retour-blanc.png')}}"></a>
                    </li>
    </ul> 
    <ul class="navbar-nav mx-auto  text-primary ">
                    <li class="nav-item text-center">
                        <a class="nav-link    bg-primary  text-secondary" href="/carte">SAUCE MOUTARD</a>
                    </li>
    </ul> 
  
     
  </nav>
 
  <div class="py-5">
       <div class="container">
         
      {% set ouvert = 0  %} 
       {% for lerestaurant in restaurants %} 

           {% set ouvert = 0 %} 
             <div class='row' style='background-color: #FDD02F' >
            <div class='col-6 text-secondary'>{{lerestaurant[0].ville}}</div>
            <div class='col-6 text-secondary text-right p-0 m-0'>
            
            <a href="/details/{{lerestaurant[0].id}}">
              {% if lerestaurant[0].collouvrir is empty %}
      <a href="/details/{{lerestaurant[0].id}}" class="btn btn-DANGER btn-sm ">FERME</a>
              {% else %}
                {% for ouvrir in lerestaurant[0].collouvrir %}
{% if (("now"|date("w")+1)==(ouvrir.getIdJour().getId())) %}
    {% set ouvert = ouvert + 1 %}
    {% if (("now"|date("H"))>=(ouvrir.getHeureDebut()|date("H"))  and ("now"|date("H"))<=(ouvrir.getHeureFin()|date("H"))) %}
    <a href="/details/{{lerestaurant[0].id}}"class="btn btn-SUCCESS btn-sm ">OUVERT</a>
            {% else %}
                <a href="/details/{{lerestaurant[0].id}}" class="btn btn-DANGER btn-sm ">FERME</a>
 {% endif %}
    {% endif %}
         {% endfor %}
                {% if ( ouvert == 0) %}
                    <a href="/details/{{lerestaurant[0].id}}" class="btn btn-DANGER btn-sm ">FERME</a>
                {% endif %}
             {% endif %}
 
            
            </div>
            
        </div> 
            <div class='row' style='background-color: #FDD02F' >
            <a href='/details/{{lerestaurant[0].id}}'><div class='col-12  m-0 p-0'><img class='d-block img-fluid'  src='{{ lerestaurant[0].image }}' ></a>
           </div>
            </div>
            <div class='row' style='background-color: #FDD02F'>
            <div class='col-6 text-secondary'>
            {{ lerestaurant[0].raisonsociale }}
            </div>
            <div class='col-4 text-secondary'>
            {{lerestaurant.gps|number_format(2, '.', ',')}}KMs
            </div>
             <div class='col-2 text-right'>
            <a href='/details/{{lerestaurant[0].id}}'><img class='img-fluid' src='/build/images/loupeblanche34.png'></a>
            </div>  
            </div>
            <div class='row' style='background-color: white'>
            <br>
            </div>
            <div class='row' style='background-color: white'>
            <br>
            </div>
           {% endfor %}
  </div>
  </div>
        
<nav class="navbar navbar-expand   bg-light  ">
    <div class="collapse navbar-collapse fixed-bottom " id="navbarSupportedContent">
        
            <div class="container">
		<div class="row">
        	<div class="text-right col-3 p-0"><img src="{{asset('build/images/bordg.png')}}"></div>
        	<div class="bg-primary text-center col-2" >
         		<a  href="/recherche"><img src="{{asset('build/images/loupe.png')}}"></a>
           	</div>  
          	<div class="bg-primary text-center col-2" >
          		<a  href="/carte"><img src="{{asset('build/images/logocentre.png')}}"></a>
        		</div> 
        	<div class="bg-primary text-center col-2" >
          		<a  href="/profil/{{app.user.id}}"><img src="{{asset('build/images/profil.png')}}"></a>
  	 		</div> 
                        <div class="text-left col-3 p-0"><img src="{{asset('build/images/bordd.png')}}"></div>
         	</div>
      	</div>
      
  	</div>
</nav>
 
</body>

</html>